# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: fde96c1dab57efef573f288f82b41677d10975ff9509837d232a27d79a5834f607af5d45bcf6361c61eefd3c3178c07683ffb1efef93f0303036ddf9e3eed0e5

test:
  secret_key_base: 10a8b3f5f781a10afd7b7b255c0f9428ffa6c5b0df2ae795ae53ea469e066f93b67f7e308662d736eae8abdc6cb41263dec23afc5dd382ba9eb328aa333bed53

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
